body {
	font-family: Arial, sans-serif;
}

.logo img {
	width: 180px;
	height: 100px;
	object-fit: contain;
}

.breadcrumb {
	background-color: #f8f9fa;
}

/* Styling the product image */
.product-image-wrapper {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.product-image {
	width: 100%;
	transition: transform 0.5s ease;
}

.variations {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.quantity {
	width: 75px;
}

.price {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

/* Related Products Section */
.related-products {
	margin-top: 40px;
	text-align: center;
}

.gallery {
	display: flex;
	justify-content: center;
}

.product-item {
	width: 25%;
	text-align: center;
}

.card {
	border: none;
}

.card-img-top {
	aspect-ratio: 1 / 1;
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
	padding: 10px;
}

.card-text {
	font-size: 16px;
	margin-bottom: 10px;
}

/* Footer */
footer {
	font-size: 0.9rem;
}

footer i {
	margin-right: 5px;
}
